header {
    background-color: #161816d5;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinhar verticalmente | */
    justify-content: center; /* Alinhar horizontalmente -- */
}